In [9]:
import numpy as np
import pandas as pd

In [12]:
s=pd.Series(np.random.randn(5),index=list('abcde'))
s

a   -0.152702
b    0.477214
c   -1.664785
d   -0.171916
e   -1.132054
dtype: float64

In [15]:
s=pd.Series(np.random.randn(5))
s

0   -0.241826
1    1.402665
2   -0.799659
3   -0.239760
4    0.112521
dtype: float64

In [20]:
s[:3]

0   -0.241826
1    1.402665
2   -0.799659
dtype: float64

In [23]:
s[[4,3,2]]

4    0.112521
3   -0.239760
2   -0.799659
dtype: float64

In [36]:
s=pd.Series(np.random.randn(5),index=list('abcde'))
s

a   -0.977524
b    0.511936
c   -1.402287
d   -0.908608
e   -0.250532
dtype: float64

In [39]:
'a' in s

True

In [44]:
import pandas as pd
rng=pd.date_range('1/1/2020',periods=100,freq='S')
rng

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 00:00:01',
               '2020-01-01 00:00:02', '2020-01-01 00:00:03',
               '2020-01-01 00:00:04', '2020-01-01 00:00:05',
               '2020-01-01 00:00:06', '2020-01-01 00:00:07',
               '2020-01-01 00:00:08', '2020-01-01 00:00:09',
               '2020-01-01 00:00:10', '2020-01-01 00:00:11',
               '2020-01-01 00:00:12', '2020-01-01 00:00:13',
               '2020-01-01 00:00:14', '2020-01-01 00:00:15',
               '2020-01-01 00:00:16', '2020-01-01 00:00:17',
               '2020-01-01 00:00:18', '2020-01-01 00:00:19',
               '2020-01-01 00:00:20', '2020-01-01 00:00:21',
               '2020-01-01 00:00:22', '2020-01-01 00:00:23',
               '2020-01-01 00:00:24', '2020-01-01 00:00:25',
               '2020-01-01 00:00:26', '2020-01-01 00:00:27',
               '2020-01-01 00:00:28', '2020-01-01 00:00:29',
               '2020-01-01 00:00:30', '2020-01-01 00:00:31',
               '2020-01-01 00:00:32', '2020-01-01 00:00:33',
               '2020-01-01 00:00:34', '2020-01-01 00:00:35',
               '2020-01-01 00:00:36', '2020-01-01 00:00:37',
               '2020-01-01 00:00:38', '2020-01-01 00:00:39',
               '2020-01-01 00:00:40', '2020-01-01 00:00:41',
               '2020-01-01 00:00:42', '2020-01-01 00:00:43',
               '2020-01-01 00:00:44', '2020-01-01 00:00:45',
               '2020-01-01 00:00:46', '2020-01-01 00:00:47',
               '2020-01-01 00:00:48', '2020-01-01 00:00:49',
               '2020-01-01 00:00:50', '2020-01-01 00:00:51',
               '2020-01-01 00:00:52', '2020-01-01 00:00:53',
               '2020-01-01 00:00:54', '2020-01-01 00:00:55',
               '2020-01-01 00:00:56', '2020-01-01 00:00:57',
               '2020-01-01 00:00:58', '2020-01-01 00:00:59',
               '2020-01-01 00:01:00', '2020-01-01 00:01:01',
               '2020-01-01 00:01:02', '2020-01-01 00:01:03',
               '2020-01-01 00:01:04', '2020-01-01 00:01:05',
               '2020-01-01 00:01:06', '2020-01-01 00:01:07',
               '2020-01-01 00:01:08', '2020-01-01 00:01:09',
               '2020-01-01 00:01:10', '2020-01-01 00:01:11',
               '2020-01-01 00:01:12', '2020-01-01 00:01:13',
               '2020-01-01 00:01:14', '2020-01-01 00:01:15',
               '2020-01-01 00:01:16', '2020-01-01 00:01:17',
               '2020-01-01 00:01:18', '2020-01-01 00:01:19',
               '2020-01-01 00:01:20', '2020-01-01 00:01:21',
               '2020-01-01 00:01:22', '2020-01-01 00:01:23',
               '2020-01-01 00:01:24', '2020-01-01 00:01:25',
               '2020-01-01 00:01:26', '2020-01-01 00:01:27',
               '2020-01-01 00:01:28', '2020-01-01 00:01:29',
               '2020-01-01 00:01:30', '2020-01-01 00:01:31',
               '2020-01-01 00:01:32', '2020-01-01 00:01:33',
               '2020-01-01 00:01:34', '2020-01-01 00:01:35',
               '2020-01-01 00:01:36', '2020-01-01 00:01:37',
               '2020-01-01 00:01:38', '2020-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [47]:
ts=pd.Series(np.random.randint(0,500,len(rng)), index=rng)
ts

2020-01-01 00:00:00    400
2020-01-01 00:00:01     56
2020-01-01 00:00:02    458
2020-01-01 00:00:03     52
2020-01-01 00:00:04     29
                      ...
2020-01-01 00:01:35    177
2020-01-01 00:01:36    131
2020-01-01 00:01:37    220
2020-01-01 00:01:38     30
2020-01-01 00:01:39    293
Freq: S, Length: 100, dtype: int64

In [50]:
ts.resample('1Min').sum()

2020-01-01 00:00:00    13504
2020-01-01 00:01:00    11360
Freq: T, dtype: int64

In [54]:
s1=pd.Series([1.,2.,3.],index=list('abc'))
s2=pd.Series([1.,2.,3.,4.],index=list('abcd'))
d={'one':s1,
  'two':s2}

In [56]:
s1

a    1.0
b    2.0
c    3.0
dtype: float64

In [59]:
s2

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [69]:
pd.DataFrame(d,index=['d','b','a'],columns=['two','yyy'])

   two  yyy
d  4.0  NaN
b  2.0  NaN
a  1.0  NaN

In [71]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [76]:
df['three']=df['one']*df['two']
df

   one  two  three
a  1.0  1.0    1.0
b  2.0  2.0    4.0
c  3.0  3.0    9.0
d  NaN  4.0    NaN

   one  two  three
a  1.0  1.0    1.0
b  2.0  2.0    4.0
c  3.0  3.0    9.0
d  NaN  4.0    NaN

In [79]:
osstat_csv=pd.read_csv('os_stats.csv')
osstat_csv

,FILE,DB_NAME,DB_ID,INSTANCE,INST_NUM,STARTUP_TIME,RELEASE,RAC,HOST_NAME,PLATFORM,...,E_H,E_MI,E_S,Snap Time,Load,%busy,%user,%sys,%idle,%iowait
0,db03bs1-20200217_080033-00036413-00036414.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,9,0,3,17-Feb 08:00:33,2.76,NaN,NaN,NaN,NaN,NaN
1,db03bs1-20200217_080033-00036413-00036414.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,9,0,3,17-Feb 09:00:03,3.09,37.36,27.50,8.05,62.64,0.10
2,db03bs1-20200217_090003-00036414-00036415.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,10,0,11,17-Feb 09:00:03,3.09,NaN,NaN,NaN,NaN,NaN
3,db03bs1-20200217_090003-00036414-00036415.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,10,0,11,17-Feb 10:00:11,2.11,28.66,19.64,7.25,71.34,0.12
4,db03bs1-20200217_100011-00036415-00036416.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,11,0,18,17-Feb 10:00:11,2.11,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,db03bs2-20200218_010000-00036430-00036431.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,2,0,7,18-Feb 02:00:07,1.86,9.82,4.59,3.74,90.18,0.14
76,db03bs2-20200218_020007-00036431-00036432.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,3,0,2,18-Feb 02:00:07,1.86,NaN,NaN,NaN,NaN,NaN
77,db03bs2-20200218_020007-00036431-00036432.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,3,0,2,18-Feb 03:00:02,1.38,9.81,4.69,3.75,90.19,0.13
78,db03bs2-20200218_030002-00036432-00036433.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,4,0,9,18-Feb 03:00:02,1.38,NaN,NaN,NaN,NaN,NaN
79,db03bs2-20200218_030002-00036432-00036433.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,4,0,9,18-Feb 04:00:09,1.52,9.61,4.72,3.78,90.39,0.12

In [82]:
osstat_csv.head()

,FILE,DB_NAME,DB_ID,INSTANCE,INST_NUM,STARTUP_TIME,RELEASE,RAC,HOST_NAME,PLATFORM,...,E_H,E_MI,E_S,Snap Time,Load,%busy,%user,%sys,%idle,%iowait
0,db03bs1-20200217_080033-00036413-00036414.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,9,0,3,17-Feb 08:00:33,2.76,NaN,NaN,NaN,NaN,NaN
1,db03bs1-20200217_080033-00036413-00036414.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,9,0,3,17-Feb 09:00:03,3.09,37.36,27.50,8.05,62.64,0.10
2,db03bs1-20200217_090003-00036414-00036415.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,10,0,11,17-Feb 09:00:03,3.09,NaN,NaN,NaN,NaN,NaN
3,db03bs1-20200217_090003-00036414-00036415.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,10,0,11,17-Feb 10:00:11,2.11,28.66,19.64,7.25,71.34,0.12
4,db03bs1-20200217_100011-00036415-00036416.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,11,0,18,17-Feb 10:00:11,2.11,NaN,NaN,NaN,NaN,NaN

In [84]:
osstat_csv.assign(user_sys=osstat_csv['%user']+osstat_csv['%sys']).head()

,FILE,DB_NAME,DB_ID,INSTANCE,INST_NUM,STARTUP_TIME,RELEASE,RAC,HOST_NAME,PLATFORM,...,E_MI,E_S,Snap Time,Load,%busy,%user,%sys,%idle,%iowait,user_sys
0,db03bs1-20200217_080033-00036413-00036414.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,0,3,17-Feb 08:00:33,2.76,NaN,NaN,NaN,NaN,NaN,NaN
1,db03bs1-20200217_080033-00036413-00036414.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,0,3,17-Feb 09:00:03,3.09,37.36,27.50,8.05,62.64,0.10,35.55
2,db03bs1-20200217_090003-00036414-00036415.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,0,11,17-Feb 09:00:03,3.09,NaN,NaN,NaN,NaN,NaN,NaN
3,db03bs1-20200217_090003-00036414-00036415.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,0,11,17-Feb 10:00:11,2.11,28.66,19.64,7.25,71.34,0.12,26.89
4,db03bs1-20200217_100011-00036415-00036416.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,0,18,17-Feb 10:00:11,2.11,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
osstat_csv.query('`%user`>0')

,FILE,DB_NAME,DB_ID,INSTANCE,INST_NUM,STARTUP_TIME,RELEASE,RAC,HOST_NAME,PLATFORM,...,E_H,E_MI,E_S,Snap Time,Load,%busy,%user,%sys,%idle,%iowait
1,db03bs1-20200217_080033-00036413-00036414.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,9,0,3,17-Feb 09:00:03,3.09,37.36,27.50,8.05,62.64,0.10
3,db03bs1-20200217_090003-00036414-00036415.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,10,0,11,17-Feb 10:00:11,2.11,28.66,19.64,7.25,71.34,0.12
5,db03bs1-20200217_100011-00036415-00036416.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,11,0,18,17-Feb 11:00:18,2.89,23.33,14.78,6.68,76.67,0.15
7,db03bs1-20200217_110018-00036416-00036417.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,12,0,6,17-Feb 12:00:06,2.32,26.73,17.26,7.72,73.27,0.14
9,db03bs1-20200217_120006-00036417-00036418.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,13,0,14,17-Feb 13:00:14,2.64,16.61,9.60,5.46,83.39,0.19
11,db03bs1-20200217_130014-00036418-00036419.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,14,0,22,17-Feb 14:00:22,2.86,22.69,14.46,6.44,77.31,0.16
13,db03bs1-20200217_140022-00036419-00036420.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,15,0,30,17-Feb 15:00:30,2.59,21.25,13.22,6.33,78.75,0.15
15,db03bs1-20200217_150030-00036420-00036421.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,16,0,39,17-Feb 16:00:39,2.23,25.12,16.16,7.06,74.88,0.13
17,db03bs1-20200217_160039-00036421-00036422.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,17,0,4,17-Feb 17:00:04,1.94,22.42,14.17,6.49,77.58,0.16
19,db03bs1-20200217_170004-00036422-00036423.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,18,0,11,17-Feb 18:00:11,1.94,25.80,17.44,7.06,74.20,0.14
21,db03bs1-20200217_180011-00036423-00036424.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,19,0,2,17-Feb 19:00:02,1.69,16.00,9.53,4.99,84.00,0.15
23,db03bs1-20200217_190002-00036424-00036425.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,20,0,10,17-Feb 20:00:10,1.53,15.53,9.13,4.83,84.47,0.16
25,db03bs1-20200217_200010-00036425-00036426.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,21,0,17,17-Feb 21:00:17,1.91,18.55,11.59,5.40,81.45,0.17
27,db03bs1-20200217_210017-00036426-00036427.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,22,0,25,17-Feb 22:00:25,1.64,16.14,9.39,5.19,83.86,0.13
29,db03bs1-20200217_220025-00036427-00036428.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,23,0,33,17-Feb 23:00:33,2.39,16.73,9.99,5.17,83.27,0.14
31,db03bs1-20200217_230033-00036428-00036429.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,0,0,40,18-Feb 00:00:40,1.78,16.96,9.99,5.46,83.04,0.16
33,db03bs1-20200218_000040-00036429-00036430.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,1,0,0,18-Feb 01:00:00,6.48,17.54,9.94,5.90,82.46,0.15
35,db03bs1-20200218_010000-00036430-00036431.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,2,0,7,18-Feb 02:00:07,1.67,13.66,7.26,4.78,86.34,0.14
37,db03bs1-20200218_020007-00036431-00036432.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,3,0,2,18-Feb 03:00:02,1.87,11.64,5.93,4.20,88.36,0.15
39,db03bs1-20200218_030002-00036432-00036433.html,DB03BS,2633216536,db03bs1,1,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v1.ekiban.local,Linux x86 64-bit,...,4,0,9,18-Feb 04:00:09,1.67,11.10,5.79,4.18,88.90,0.14
41,db03bs2-20200217_080033-00036413-00036414.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,9,0,3,17-Feb 09:00:03,2.18,40.54,29.80,8.65,59.46,0.13
43,db03bs2-20200217_090003-00036414-00036415.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,10,0,11,17-Feb 10:00:11,1.57,25.48,16.83,6.84,74.52,0.16
45,db03bs2-20200217_100011-00036415-00036416.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,11,0,18,17-Feb 11:00:18,2.36,21.25,13.26,6.26,78.75,0.14
47,db03bs2-20200217_110018-00036416-00036417.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,12,0,6,17-Feb 12:00:06,2.59,23.18,14.84,6.62,76.82,0.13
49,db03bs2-20200217_120006-00036417-00036418.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,13,0,14,17-Feb 13:00:14,2.74,21.15,13.76,5.81,78.85,0.13
51,db03bs2-20200217_130014-00036418-00036419.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,14,0,22,17-Feb 14:00:22,3.04,21.69,13.55,6.31,78.31,0.12
53,db03bs2-20200217_140022-00036419-00036420.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,15,0,30,17-Feb 15:00:30,3.04,19.01,11.50,5.85,80.99,0.16
55,db03bs2-20200217_150030-00036420-00036421.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,16,0,39,17-Feb 16:00:39,2.12,22.65,14.50,6.41,77.35,0.13
57,db03bs2-20200217_160039-00036421-00036422.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,17,0,4,17-Feb 17:00:04,3.10,21.24,13.37,6.17,78.76,0.13
59,db03bs2-20200217_170004-00036422-00036423.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,18,0,11,17-Feb 18:00:11,2.56,18.51,11.73,5.57,81.49,0.16
61,db03bs2-20200217_180011-00036423-00036424.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,19,0,2,17-Feb 19:00:02,2.06,13.00,6.98,4.46,87.00,0.14
63,db03bs2-20200217_190002-00036424-00036425.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,20,0,10,17-Feb 20:00:10,2.72,14.03,8.04,4.41,85.97,0.14
65,db03bs2-20200217_200010-00036425-00036426.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,21,0,17,17-Feb 21:00:17,2.56,16.51,9.73,5.26,83.49,0.15
67,db03bs2-20200217_210017-00036426-00036427.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,22,0,25,17-Feb 22:00:25,2.13,13.35,7.06,4.71,86.65,0.15
69,db03bs2-20200217_220025-00036427-00036428.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,23,0,33,17-Feb 23:00:33,2.06,11.69,5.69,4.46,88.31,0.13
71,db03bs2-20200217_230033-00036428-00036429.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,0,0,40,18-Feb 00:00:40,1.87,11.13,5.40,4.31,88.87,0.16
73,db03bs2-20200218_000040-00036429-00036430.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,1,0,0,18-Feb 01:00:00,1.84,10.18,4.84,3.78,89.82,0.13
75,db03bs2-20200218_010000-00036430-00036431.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,2,0,7,18-Feb 02:00:07,1.86,9.82,4.59,3.74,90.18,0.14
77,db03bs2-20200218_020007-00036431-00036432.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,3,0,2,18-Feb 03:00:02,1.38,9.81,4.69,3.75,90.19,0.13
79,db03bs2-20200218_030002-00036432-00036433.html,DB03BS,2633216536,db03bs2,2,30-Apr-19 07:04,12.1.0.2.0,YES,eoeo03v2.ekiban.local,Linux x86 64-bit,...,4,0,9,18-Feb 04:00:09,1.52,9.61,4.72,3.78,90.39,0.12

In [88]:
df

   one  two  three
a  1.0  1.0    1.0
b  2.0  2.0    4.0
c  3.0  3.0    9.0
d  NaN  4.0    NaN

In [94]:
df.iloc[1]

one      2.0
two      2.0
three    4.0
Name: b, dtype: float64

In [95]:
df.describe()

       one       two     three
count  3.0  4.000000  3.000000
mean   2.0  2.500000  4.666667
std    1.0  1.290994  4.041452
min    1.0  1.000000  1.000000
25%    1.5  1.750000  2.500000
50%    2.0  2.500000  4.000000
75%    2.5  3.250000  6.500000
max    3.0  4.000000  9.000000